// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.page,
.post {
}

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  color: black;
}

.disable-href {
  text-decoration: none;
}

// Blog post or page title
.page-title,
.post-title,
.post-title a {
}
.page-title,
.post-title {
}

// Meta data line below post title
.post-date {
}


// Related posts
.related {
}

.related-posts {
  padding-left: 0;
  list-style: none;

  h3 {
    margin-top: 0;
  }

  li {
    small {
      font-size: 75%;
      color: #999;
    }

    a:hover {
      color: #268bd2;
      text-decoration: none;

      small {
        color: inherit;
      }
    }
  }
}

.navigation_container {
    overflow-y: scroll;
}

.entry_container {
}

.entry_content {
}

.filter_button {
}

#entry_ul{
}

.entry_li {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
  margin-top:2em;
  margin-bottom:2em;
}

.entry_list {
  font-weight: bold;
  text-decoration: none;
}

#prev_next_opt {
}

#prev_entry{
}

#next_entry, #entry_writer, #entry_link{
}

#entry_writer {
}

#entry_info {
}
#entry_body {
}

#entry_title {
}

#debe_date_p {
}

img {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.active {
  font-weight: bold;
  text-decoration: none;
}
